/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: #022b7d;
}

header{
    width: 100%;
    height: 50px;
}

.banner{
    padding: 0 23px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner .left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .left .logo-text{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.banner .left img{
    width: 90px; /* 60px on small devices*/
    padding-right: 4px;
}

.banner .left .college-name{
    font-weight: 600;
    color: #022b7d;
}

.banner .right{
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 576px) {
    .banner .left{
        flex: 0 1 250px;
    }

    .banner .left img{
        width: 60px;
    }

    .banner .left .logo-text .college-name{
        font-size: 12px;
        font-weight: 500px;
    }

    .banner .left .logo-text .tagline{
        font-size: 10px;
    }

    .banner .right .icons, .banner .right .icons i{
        display: none;
    }
}

@media only screen and (min-width: 577px){
    .banner .left{
        flex: 0 1 320px;
    }

    .banner .left .logo-text .tagline{
        font-size: 12px;
    }

    .banner .left img{
        width: 70px;
    }
}

@media only screen and (min-width: 600px){
    .banner{
        padding: 0 40px;
    }
}

@media only screen and (min-width: 768px){
    .banner{
        padding: 0 60px;
    }
}

@media only screen and (min-width: 1200px){
    header{
        height: 80px;
    }

    .banner{
        padding: 0 20%;
    }

    .banner .left{
        flex: 0 1 400px;
    }

    .banner .left img{
        width: 90px;
    }

    .banner .left .logo-text .college-name{
        font-size: 18px;
    }

    .banner .left .logo-text .tagline{
        font-size: 14px;
    }
}

/*================= Icons =============== */
.icons {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.icons a {
    color: #022b7d;
    text-decoration: none;
    width: 36px;
    height: 36px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.icons a:hover {
    /* color: white;
    background-color: #022b7d; */
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 12px;
}

/*================= Search =============== */

.search-container {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    /* background-color: #022b7d; */

    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition-duration: 0.4s;
    overflow: hidden;
}

.search-container:hover {
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 12px;
}

.search-icon {
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    color: #022b7d;
    position: relative;
    right: 9px;
}

.search-container.active {
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 4px 12px;
}

.search-input {
    position: relative;
    width: 200px;
    height: 36px;
    right: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}