/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: #153E8C;
}

/*================= Banner =============== */

.banner{
    background-color: white;
    height: 8vmin;
    width: auto;
    padding: 0 12vmax;
    display: flex;
}

.logo{
    /* background-color: #153f8c5d; */
    height: auto;
    min-width: 30em;
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 2%;
}

/* .logo a{
    text-decoration: none;
    display: block;
    width: 80px;
    height: 60%;
} */

.logo img{
    max-height: 50%;
    min-height: 2.5rem;
}

.logo-text{
    max-height: 50%;
    min-height: 2.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.logo-text .main-text{
    font-size: 19px;
    font-weight: 500;
    color: #153E8C;
}

.logo-text .sub-text{
    color: #818181;
    font-size: 14px;
}

/*================= Search Bar =============== */



