body {
  font-family: Arial, sans-serif;
}

.announcement {
  max-width: 600px;
  margin: auto;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn ease-out 1s forwards;
}

@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
